/* * * *
* BLOG PAGE
* * * * */

/* Container specifics for the row containing two blogs */
.blog-container {
    float: left;
    width: 100%;
}

/* Specifics and design for a blog div */
.blog {
    background-color: #e1faff;
    border: 2px solid;
    margin-bottom: 50px;
    border-radius: 16px;
    padding: 0px;
    height: 510px;
    float: left;
    width: 600px;
    margin-left: 95px;
    box-shadow: 5px 4px #3a6074;
}

.blogpost-button {
    background-color: rgb(90, 206, 244);
    border: darkblue 1px solid;
    border-radius: 8px;
    width: auto;
    height: auto;
    text-decoration: none;
    box-shadow: 2px 1px #3a6074;
}

.blogpost-button:hover {
    background-color: rgb(83, 181, 213);
}
