body {
    background-color: lightblue;
    padding-top: 50px;
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif
}

.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

header {
    grid-column: 1 / 4;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0px 5px 10px #a1c2bc;
}

.left-side {
    grid-column: 1 / 2;
}

main {
    grid-column: 2 / 3;
    flex: 1;
}

.right-side {
    grid-column: 3 / 4;
}

footer {
    background-color: rgb(99, 169, 255);
    grid-column: 1 / 4;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    box-shadow: 0px 0px 10px 0.5px #000000;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(144, 227, 250);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 149px;
    border-right: 2px solid #7fd2f0;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(77, 231, 248);
    color: #797979;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: black;
}

article {
    background-color: rgb(202, 237, 247);
    padding: 5px;
    width: 65%;
    padding-bottom: 10px;
    border: 1px solid;
    border-color: rgb(165, 213, 229);
    border-radius: 16px;
    margin: 7.5px;
    box-shadow: 5px 4px #3a6074;
}

.blog-container {
    float:left;
    width: 100%;
}

.blog {
    background-color: #e1faff;
    border: 2px solid;
    margin-bottom: 15px;
    border-radius: 16px;
    padding:0px;
    height: 510px;
    float: left;
    width:600px;
    margin-left:95px;
    box-shadow: 5px 4px #3a6074;
}

.faq {
    padding-top: 10px;
    padding-bottom: 40px;
}

.faq > details {
    padding-top: 10px;
    padding-bottom: 10px;
}

.faq > details > summary {
  padding: 4px;
  width: 700px;
  border-radius: 16px;
  background-color: rgb(99, 169, 255);
  border: none;
  box-shadow: 1px 1px 2px #bbbbbb;
  cursor: pointer;
}

.faq > details > p {
  background-color: #10bfff;
  border-radius: 16px;
  padding: 4px;
  width: 800px;
  margin-top:5px;
  margin-bottom:10px;
  box-shadow: 1px 1px 2px #bbbbbb;
}

.personal-info p {
    line-height: 2;
}

.personal-motivation {
    background-color: rgb(135, 222, 248);
}

.personal-motivation p {
    padding-left: 30px;
    padding-right: 30px;
}

.curricular-activities {
    background-color: rgb(59, 199, 245);
    margin-bottom: 15px;
}

.curricular-activities p {
    line-height: 2;
}

.curricular-activities .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}

.curricular-activities .column {
    flex: 30%;
    padding: 0 4px;
}

.curricular-activities .column p {
    display: block;
    margin: 0 auto;
    font-size: 14px;
}

.personal-image {
    float: left;
    padding-left: 10px;
    height: 275px
}

.personal-image p {
    display: block;
    margin: 0 auto;
    font-size: 14px;
}

ul{
    padding-left: 0px;
    width: 210px;
    list-style-type:none; 
}

ul h3 {
    padding-left: 10px;
}

.aside-menu {
  height: 290px; /* Full-height: remove this if you want "auto" height */
  width: 210px; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(119, 202, 229); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
  margin-top: 130px;
  margin-left: 20px;
  border-radius: 16px;
  box-shadow: 5px 4px #3a6074;
}

/* The navigation menu links */
.aside-menu a {
  border-top: 1px solid #7fd2f0;
  border-bottom: 1px solid #7fd2f0;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.aside-menu a:hover {
  color: #797979;
  background-color: rgb(77, 231, 248);
}