/* * * *
* (SITE-WIDE) GENERAL CSS
* * * * */

/* Styling for body */
body {
    background-color: lightblue;
    padding-top: 50px;
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif
}

/* Setting up parent for grid */
.parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

/* Left Side of grid */
.left-side {
    grid-column: 1 / 2;
}

/* Main content of grid */
main {
    grid-column: 2 / 3;
    flex: 1;
}

/* Right Side of grid */
.right-side {
    grid-column: 3 / 4;
}

/* Footer at bottom of every page */
footer {
    background-color: #63a9ff;
    grid-column: 1 / 4;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    box-shadow: 0px 0px 10px 0.5px #000000;
}

/* Design of the article boxes */
article {
    background-color: rgb(202, 237, 247);
    padding: 5px;
    width: 65%;
    padding-bottom: 10px;
    border: 1px solid;
    border-color: rgb(165, 213, 229);
    border-radius: 16px;
    margin: 7.5px;
    box-shadow: 5px 4px #3a6074;
}

/* * * *
* NAVIGATION BAR
* * * * */

/* Header setup */
header {
    grid-column: 1 / 4;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0px 5px 10px #a1c2bc;
}

/* Specific topnav class in header */
.topnav {
    background-color: #90e3fa;
    overflow: hidden;
}

/* The clickable links */
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 149px;
    border-right: 2px solid #7fd2f0;
}

/* Hovering over the clickable links */
.topnav a:hover {
    background-color: rgb(77, 231, 248);
    color: #797979;
}

/* Giving the currently active link a unique color */
.topnav a.active {
    background-color: #2ec5d6;
    color: black;
}

/* * * *
* INDEX/HOME PAGE
* * * * */

.fancy-showcase {
    width: 100%;
    height: auto;
}

.fancy-showcase .row {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    margin-bottom: 30px;
}

.fancy-image-container {
    position: relative;
    display: inline-block;
}

.fancy-image-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: blur(0.5px);
}

.fancy-image-container img:hover {
    filter: blur(5px);
}

.overlay-text {
    position: absolute;
    top: 17.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 10px 20px;
    font-size: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.fancy-profile {
    width: 24.96625%;
    height: 500px;
    border-top: 0.75px solid;
    border-bottom: 0.75px solid;
    background-color: white;
}

.fancy-dashboard {
    width: 24.96625%;
    height: 500px;
    border: 0.75px solid;
    background-color: white;
}

.fancy-faq {
    width: 24.96625%;
    height: 500px;
    border: 0.75px solid;
    background-color: white;
}

.fancy-blog {
    width: 24.96625%;
    height: 500px;
    border-top: 0.75px solid;
    border-bottom: 0.75px solid;
    background-color: white;
}

/* Specific details for Personal Motivation article */
.personal-motivation {
    background-color: rgb(232, 250, 255);
    margin-bottom: 50px;
}

/* Paragraph specifics for Personal Motivation article */
.personal-motivation p {
    padding-left: 30px;
    padding-right: 30px;
}

.ict-skills {
    background-color: rgb(232, 250, 255);
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.skills-container {
    width: 90%;
    background-color: #ddd;
    border-radius: 16px;
}

.skills {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 16px;
}

.html {
    width: 80%;
    background-color: #62aeff;
}

.java {
    width: 70%;
    background-color: #62aeff;
}

.css {
    width: 50%;
    background-color: #62aeff;
}

.golang {
    width: 30%;
    background-color: #62aeff;
}

/* * * *
* BLOG PAGE
* * * * */

/* Container specifics for the row containing two blogs */
.blog-container {
    float: left;
    width: 100%;
}

/* Specifics and design for a blog div */
.blog {
    background-color: #e1faff;
    border: 2px solid;
    margin-bottom: 50px;
    border-radius: 16px;
    padding: 0px;
    height: 510px;
    float: left;
    width: 600px;
    margin-left: 95px;
    box-shadow: 5px 4px #3a6074;
}

.blogpost-button {
    background-color: rgb(90, 206, 244);
    border: darkblue 1px solid;
    border-radius: 8px;
    width: auto;
    height: auto;
    text-decoration: none;
    box-shadow: 2px 1px #3a6074;
}

.blogpost-button:hover {
    background-color: rgb(83, 181, 213);
}

/* * * *
* FREQUENTLY ASKED QUESTIONS (FAQ) PAGE
* * * * */

/* Specifics for FAQ page content */
.faq {
    padding-top: 10px;
    margin-bottom: 315px;
}

/* Specifics for each indivual question and answer */
.faq>details {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Design Specifics for the 'question' */
.faq>details>summary {
    padding: 4px;
    width: 700px;
    border-radius: 16px;
    background-color: rgb(99, 169, 255);
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
}

/* Design Specifics for the 'answer' */
.faq>details>p {
    background-color: #10bfff;
    border-radius: 16px;
    padding: 4px;
    width: 800px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px #bbbbbb;
}

/* * * *
* PROFILE PAGE
* * * * */

/* Specifics for the <p> tag in the personal info article */
.personal-info p {
    line-height: 2;
}

.social-links {
    background-color: rgb(123, 222, 255);
}

/* Specifics for the curricular activities article */
.curricular-activities {
    background-color: rgb(59, 199, 245);
    margin-bottom: 50px;
}

/* Specifics for the <p> tag in the curricular activities article */
.curricular-activities p {
    line-height: 2;
}

/* Designing the row section of the curricular activities article */
.curricular-activities .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}

/* Designing the column section of the curricular activities article */
.curricular-activities .column {
    flex: 30%;
    padding: 0 4px;
}

/* Making sure the text below each character image is small */
.curricular-activities .column p {
    display: block;
    margin: 0 auto;
    font-size: 14px;
}

/* Specifics for <p> in the games and entertainment section in curricular activities */
.games p,
.entertainment p {
    line-height: 20px;
}

.img-container {
    float: left;
    rotate: -10deg;
    position: absolute;
    top: 440px;
    margin-left: 10px;
}

.img-container2 {
    float: left;
    rotate: 10deg;
    position: absolute;
    top: 665px;
    margin-left: 20px;
}

.castorice-img:hover {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.firefly-img:hover {
    -webkit-animation: spin2 1s linear infinite;
    -moz-animation: spin2 1s linear infinite;
    animation: spin2 1s linear infinite;
}

.github-img {
    position: absolute;
    bottom: 5px;
    right: 20px;
    width: 40px;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin2 {
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes spin2 {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes spin2 {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

/* Specifics for the personal image in personal info */
.personal-image {
    float: left;
    padding-left: 10px;
    height: 275px
}

/* Specifics for the <p> below the personal image in personal info */
.personal-image p {
    display: block;
    margin: 0 auto;
    font-size: 14px;
}

/* * * *
* ASIDE MENU
* * * * */

ul {
    padding-left: 0px;
    width: 210px;
    list-style-type: none;
}

ul h3 {
    padding-left: 10px;
}

.aside-menu {
    height: 290px;
    width: 210px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(119, 202, 229);
    overflow-x: hidden;
    padding-top: 0px;
    margin-top: 130px;
    margin-left: 20px;
    border-radius: 16px;
    box-shadow: 5px 4px #3a6074;
}

.aside-menu a {
    border-top: 1px solid #7fd2f0;
    border-bottom: 1px solid #7fd2f0;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    display: block;
}

.aside-menu a:hover {
    color: #797979;
    background-color: rgb(77, 231, 248);
}

/* * * *
* DASHBOARD PAGE
* * * * */

.dashboard-container {
    background-color: grey;
    width: 80%;
    border-radius: 8px;
    border: 0.75px solid;
}

.first-year-dashboard .second-year-dashboard>tr,
th,
td {
    border-radius: 4px;
    border: 0.75px solid;
    width: 200px;
    height: 30px;
    text-align: center;
    font-size: 14px;
}

.first-year-dashboard .second-year-dashboard>tr,
td {
    background-color: rgb(186, 238, 255);
}

.first-year-dashboard .second-year-dashboard>tr,
th {
    font-size: 16px;
}

.study-progress {
    margin-bottom: 55px;
    display: flex;
    margin-top: 20px;
    margin-left: 360px;
}

.study-progress>.progbar {
    padding-right: 20px;
    padding-left: 20px;
}

.burndown-chart {
    background-color: rgb(146, 215, 238);
    border-radius: 8px;
    border: 0.75px solid;
    padding: 5px;
    width: 1200px;
    height: 500px;
    margin-bottom: 50px;
    box-shadow: 5px 4px #3a6074;
}

/* * * *
* FULL BLOG POST
* * * * */

.full-blog {
    background-color: #e1faff;
    border: 2px solid;
    margin-bottom: 50px;
    padding-bottom: 20px;
    margin-top: 30px;
    border-radius: 16px;
    padding: 0px;
    height: auto;
    width: 1000px;
    box-shadow: 5px 4px #3a6074;
}

.blog-description {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}